{% extends "mypicnics/base.html" %}
{% load static %}

{% block content %}

    <div class="light">
        <div class="container">

            <h3>October 12, 2020:</h3>
            <p class="homeText">
                <ul>
                    <li>Fixed minor bugs with critique adding</li>
                    <li>Implemented "critique karma"</li>
                    <li>Enabled multi-image uploading</li>
                    <li>Added changelog page!</li>
                </ul>
            </p>
        </div>
    </div>

{% endblock content %}