{% extends "mypicnics/base.html" %}
{% load static %}

{% block content %}

    <a id="a1"></a>

    <div class="light">
        <div class="container">
            <h1>What is Picnic?</h1>
            <p class="homeText">
                Picnic is a critique platform that allows artists to form groups and provide feedback on each others' work.
                Artists can create picnics, or critique groups, and invite their friends with an access code. Within these communities,
                artists can upload their work and provide critiques for others.
                
            </p>
        </div>
    </div>

    <a id="a2"></a>

    <div class="medium">
        <div class="container">
            <h1>Our Mission</h1>
            <p class="homeText">

                Designed specifically for creatives, Picnic seeks to remove the pressure of popularity present on social media platforms
                such as Instagram, Tumblr, Twitter, and DeviantArt. Each picnic has a 
                maximum size of 15 people as we seek to replicate the intimacy of a physical art studio. This maximum allows
                artists to better get to know the members of their community, in contrast with the vastness of social media. Picnics
                are driven not by the need to grow a following but rather the collective goal of improvement and developing your skills.

            </p>
        </div>
    </div>

    <a id="a3"></a>

    <div class="light">
        <div class="container">
            <h1>Development</h1>
            <p class="homeText">
                
                Picnic started out as an Android app and hackathon project. After the hackathon, I re-vamped Picnic as a web app.
                The mobile version is currently in development and the web version is in a beta stage. If you notice any bugs, 
                please do not hesitate to reach out to me at cyborg414781@gmail.com.
            </p>
        </div>
    </div>

{% endblock content %}